.error__img--size{
    width: 80vw;
}
.error__img--format{
    border-radius: 5%;
}
@media only screen and (min-width: 576px){
    .error__img--size{
        width: unset;
        max-height: 60vh;
    }
}