$btnWidth: 60px;
$btnHeight: 30px;

@mixin btnSize{
    width: $btnWidth;
    height: $btnHeight;
}
.form__btn--size{
    @include btnSize;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgba(191, 68, 78, 1) !important;
    caret-color: rgba(191, 68, 78, 1);
}
.radio__card--size{
    width: 215px;
    height: 135px;
}
.card-input-element {
    display: none;
}
.card-input:hover {
    cursor: pointer;
}
.card-input-element + .card-input {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.card-input-element:checked + .card-input {
    box-shadow: 0 0 3px 3px rgba(191, 68, 78, 0.7);
}