.intro__img--size{
    width: 15vw;
}
.intro__break--size{
    width: 90vw;
    height: 5px;
    font-size: 4px;
}
.intro__text--hide{
    display: none;
}
.intro__text--size{
    width: 75%;
}

@media only screen and (min-width: 576px) {
    .intro__text--display{
        display: none;
    }
    .intro__text--hide{
        display: inline-block;
    }
}
@media only screen and (min-width: 992px) {
    .intro__text--size {
        width: 65%;
    }
}