$navSize: 205px;
.nav__link--color:visited{
    color: rgba(216, 153, 138, 1);
}
.nav__brand--size{
    width: $navSize;
}
.nav__brandEs--size{
    width: $navSize - 40px;
}
.nav--z-index{
    z-index: 100;
}
.offcanvas{
    width: 120px;
}
@media only screen and (min-width: 576px) {
    .nav__brand--justify{
        position: fixed;
        left: 78px;
    }
}
@media only screen and (min-width: 992px) {
    .nav__list--visibility{
        visibility: visible !important;
        position: unset;
        transform: unset;
        width: unset;
    }
    .nav__list--size{
        width: 453px;
    }
}