.table__text--position{
    text-align: center;
}
.table__ul--style{
    list-style-image: url(../img/pen.svg);
}
.card--size{
    width: 18rem; 
    height: 270px;
}
.card--transform:hover{
    transform: scale(1.1);
    cursor: default;
}