.table__text--position{
    text-align: center;
}
.table__ul--style{
    list-style-image: url(../img/pen.svg);
}
.accordion--color:focus, .accordion--color:focus-within{
    border: unset;
    box-shadow: unset;
    z-index: unset;
}