.card--transform:hover{
    transform: scale(1.02, 1.02) translate(10px, -10px);
}
.stories__name--display{
    display: none;
}
.card__img--size{
    width: 16.3vw;
    min-width: 140px;
}
.card--size{
    width: 16.3vw;
    min-width: 142px;
}
@media only screen and (min-width: 1800px) {
    .stories__name--display{
        display: inline;
    }
}