.story__img--size{
    width: 90%;
}
.character__table--border{
    border: 2px solid rgba(38, 38, 38, 1);
    border-collapse: collapse;
}
.substories__linkImg--size{
    width: 35px;
}
.substories__break--size{
    width: 90%;
    height: 5px;
    font-size: 4px;
}
@media only screen and (min-width: 768px) {
    .character--position{
        top: 70px;
    }
    .character--format{
        max-height: 71vh;
        object-fit: cover;
        object-position: 50% 0;
    }
    .character--position{
        position: sticky;
    }
}