.story__img--size{
    width: 90vw;
    min-width: 250px;
    min-height: 330px;
    max-width: 400px;
    max-height: 600px;
}
.character__table--border{
    border: 2px solid rgba(38, 38, 38, 1);
    border-collapse: collapse;
}
.substories__break--size{
    width: 90%;
    height: 5px;
    font-size: 4px;
}
@media only screen and (min-width: 768px) {
    .character--position{
        top: 0.5vh;
    }
    .character--format{
        max-height: 50vh;
        object-fit: cover;
        object-position: 50% 0;
    }
}